{
  "extends": [
    "react-app",
    "react-app/jest",
    "airbnb",
    "prettier",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint"
  ],
  "plugins": ["prettier"],
  "parser": "@typescript-eslint/parser", //"babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "globals": {
    "window": true,
    "document": true
  },
  "rules": {
    "prettier/prettier": [
      "warrn",
      {
        "singleQuote": true,
        "printWidth": 150
      }
    ],
    "jsx-a11y/label-has-associated-control": "off",
    "no-param-reassign": 0,
    "react/destructuring-assignment": 0,
    "no-underscore-dangle": 0,
    "react/prop-types": 1,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 1,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js"]
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
